/* Higher grey number means darker. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,400i");
html, body {
  font-family: 'Roboto', sans-serif;
}

/*==============================
=            Header            =
==============================*/
header {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

header .kika-logo {
  width: 119px;
  height: 26px;
  background-image: url(../images/kika-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

header nav {
  color: #48505f;
}

header nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

header nav ul li:last-child {
  padding-right: 0;
}

/*=====  End of Header  ======*/
/*==============================
=            Footer            =
==============================*/
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f2228;
}

footer h4 {
  font-size: 1em;
  font-weight: 400;
  text-align: left !important;
  color: #595f6a;
}

footer p {
  font-size: 0.64em;
  color: #595f6a;
}

footer a {
  font-size: 0.64em;
  color: #1cb0aa !important;
}

footer .social-icons {
  margin-left: 10px;
}

footer .social-icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  cursor: pointer;
}

footer input {
  font-size: 0.8em;
  width: 100%;
  padding: 8px;
  color: #595f6a;
  border: 0;
  border-radius: 4px;
  outline: none;
  background-color: #131418;
}

footer .news-date {
  font-size: 0.8em;
}

footer .news-item {
  font-size: 0.8em;
  margin-bottom: 1.25em;
  color: #595f6a;
}

footer .newsletter-form {
  margin-bottom: 10px !important;
}

footer .divider {
  width: 100%;
  height: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #131418;
}

footer #latest-articles, footer #newsletter, footer #contact-us {
  border-left: 1px solid #131418;
}

/*=====  End of Footer  ======*/
/*=================================
=            Home Page            =
=================================*/
/* Homepage Banner */
.banner {
  width: 100%;
  height: 600px;
  background-color: #e3e3e3;
  background-image: url(../images/home-page/office-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  font-size: 7.4505805969em;
  line-height: 0.8em;
  opacity: .5;
  color: #fff;
}

.banner h3 {
  font-family: 'Droid Serif';
  font-size: 1.25em;
  font-style: italic;
  margin-top: 30px;
  opacity: .5;
  color: #fff;
}

/* Our Work */
.our-work {
  width: 100%;
  background-color: #fff;
}

.our-work .work-thumbnail {
  height: 300px;
  margin-top: 30px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.our-work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Our Services */
.our-services .service {
  margin-top: 50px;
}

.our-services .service-content {
  margin-left: 60px;
}

.our-services .service-content h2 {
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
}

.our-services .service-items {
  margin-top: 50px;
}

.our-services .service-items ul {
  list-style: none;
}

.our-services .service-items ul li {
  float: left;
  width: 50%;
  padding: 2px;
}

.our-services .service-items ul li span {
  font-size: 0.8em;
  margin-top: 4px;
  padding: 4px 6px;
  text-align: center;
  color: #fff;
  background-color: #ff5200;
}

.our-services a {
  color: #1cb0aa;
}

.our-services img {
  position: absolute;
  top: -10px;
  height: 50px;
}

/* About The Agency */
.about-the-agency {
  color: #fff;
  background-color: #f8f8f8;
  background-image: url(../images/home-page/about-the-agency/about-the-agency-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.about-the-agency .header-bottom-border {
  background-color: #fff;
}

/* Our Global Offices */
.our-global-offices {
  height: 100vh;
  background-color: #f8f8f8;
}

/* Latest News */
.latest-news {
  background-color: #fff;
}

.latest-news .news-thumb {
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
}

.latest-news .news h2 {
  font-size: 1.5625em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

.latest-news a {
  font-weight: bold;
  color: #1cb0aa;
}

/* Like What You See */
.like-what-you-see {
  color: #fff !important;
  background-color: #ff5200;
}

.like-what-you-see h2 {
  font-family: 'Droid Serif' !important;
  font-style: italic;
}

.like-what-you-see h3 {
  font-family: 'DroidSans' !important;
  font-style: normal !important;
  padding-top: 0 !important;
}

.like-what-you-see .header-bottom-border {
  background-color: #fff;
}

/*=====  End of Home Page  ======*/
/*==============================
=            Agency            =
==============================*/
/* Agency */
.agency .agency-content {
  margin-bottom: 50px;
}

.agency .agency-content h2 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.agency .agency-content p {
  font-size: 0.8em;
}

/* Our Team */
.our-team .team-box {
  height: 300px;
  outline: 1px solid #e3e3e3;
  background-color: #f0f0f0;
}

/* Our Advantage */
.our-advantage {
  background-color: #1cb0aa;
}

/* Agency Office */
.agency-office {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url(../images/agency-page/agency-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Our Culture */
.our-culture {
  background-color: #fff;
}

/* Traits (Our Advantage, Our Culture) Layout */
.our-advantage .trait, .our-culture .trait {
  margin-top: 50px;
}

.our-advantage .trait-content, .our-culture .trait-content {
  margin-left: 60px;
}

.our-advantage .trait-content h2, .our-culture .trait-content h2 {
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
}

.our-advantage a, .our-culture a {
  color: #1cb0aa;
}

.our-advantage img, .our-culture img {
  position: absolute;
  top: -10px;
  height: 50px;
}

/*=====  End of Agency  ======*/
/*===============================
=            Connect            =
===============================*/
.connect .connect-header {
  font-size: 1.25em;
  text-align: left;
}

.connect p {
  font-size: 0.8em !important;
  margin-top: 20px;
}

.connect p.connect-info {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #d7d6d6;
}

.connect a {
  color: #1cb0aa;
}

/*=====  End of Connect  ======*/
/*=================================
=            Portfolio            =
=================================*/
.portfolio .project-logo {
  height: 80px;
}

.portfolio h2 {
  margin-bottom: 30px;
}

.portfolio .project-image {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

.more-work .work-thumbnail {
  height: 175px;
  background-color: #f0f0f0;
}

.more-work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=====  End of Portfolio  ======*/
/*=========================================
=            Universal Classes            =
=========================================*/
.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-section h2 {
  font-size: 2.44140625em;
  text-align: center;
}

.page-section h3 {
  font-family: 'Droid Serif';
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25em;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.page-section h3 a {
  color: #1cb0aa;
}

.header-bottom-border {
  width: 80px;
  height: 5px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-color: #48505f;
}

/* Buttons */
.kika-button-white {
  font-size: 1.25em;
  width: 250px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
}

.kika-footer-button {
  font-size: 0.64em;
  display: inline-block;
  padding: 6px 8px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #595f6a;
}

.kika-footer-button:hover {
  background-color: #1cb0aa;
}

.section-divider {
  border-top: 1px solid #f0f0f0;
}

/* Font Colors */
.font-color-green {
  color: #1cb0aa;
}

.font-color-white {
  color: #fff;
}

/* Background Colors */
.bg-color-white {
  background-color: #fff !important;
}

.bg-color-grey {
  background-color: #f0f0f0;
}

.bg-color-lgrey {
  background-color: #f8f8f8;
}

.bg-color-green {
  background-color: #1cb0aa;
}

/* Quick Margins */
.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

/* Quick Paddings */
.pt-30 {
  padding-top: 30px !important;
}

.hidden {
  display: none !important;
}

/*=====  End of Universal Classes  ======*/
