@import 'bourbon';
$kika-black: #48505f;
$kika-green: #1cb0aa;
$kika-orange: #ff5200;/* Higher grey number means darker. */
$kika-grey-1:#f0f0f0;
$kika-grey-2:#595f6a;
$kika-grey-3:#1f2228;
$kika-grey-4:#131418;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i');

html, body {
    font-family: 'Roboto', sans-serif;
}

/*==============================
=            Header            =
==============================*/
header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;

    .kika-logo {
        // outline: 1px dashed red;
        width: 119px;
        height: 26px;
        background-image: url(../images/kika-logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    nav {
        color: $kika-black;
    }

    nav ul {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav ul li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        cursor: pointer;
    }

    nav ul li:last-child {
        padding-right: 0;
    }

}

/*=====  End of Header  ======*/

/*==============================
=            Footer            =
==============================*/

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $kika-grey-3;

    h4 {
        font-size: modular-scale(0);
        font-weight: 400;
        text-align: left !important;
        color: $kika-grey-2;
    }

    p {
        font-size: modular-scale(-2);
        color: $kika-grey-2;
    }

    a {
        font-size: modular-scale(-2);
        color: $kika-green !important;
    }

    .social-icons {
        margin-left: 10px;
    }

    .social-icon {
        width: 32px;
        height: 32px;
        margin-right: 5px;
        cursor: pointer;
    }

    input {
        font-size: modular-scale(-1);
        width: 100%;
        padding: 8px;
        color: $kika-grey-2;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: $kika-grey-4;
    }

    .news-date {
        font-size: modular-scale(-1);
    }

    .news-item {
        font-size: modular-scale(-1);
        margin-bottom: modular-scale(1);
        color: $kika-grey-2;
    }

    .newsletter-form {
        margin-bottom: 10px !important;
    }

    .divider {
        width: 100%;
        height: 2px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: $kika-grey-4;
    }

    #latest-articles, #newsletter, #contact-us {
        border-left: 1px solid $kika-grey-4;
    }

}

/*=====  End of Footer  ======*/

/*=================================
=            Home Page            =
=================================*/

/* Homepage Banner */
.banner {
    width: 100%;
    height: 600px;
    background-color: darken($kika-grey-1, 5%);
    background-image: url(../images/home-page/office-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: modular-scale(9);
        line-height: modular-scale(-1);
        opacity: .5;
        color: #fff;
    }

    h3 {
        font-family: 'Droid Serif';
        font-size: modular-scale(1);
        font-style: italic;
        margin-top: 30px;
        opacity: .5;
        color: #fff;
    }

}

/* Our Work */
.our-work {
    width: 100%;
    background-color: #fff;

    .work-thumbnail {
        height: 300px;
        margin-top: 30px;
        background-color: $kika-grey-1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/* Our Services */
.our-services {
    // background-color: lighten($kika-grey-1, 3%);

    .service {
        margin-top: 50px;
    }

    .service-content {
        margin-left: 60px;

        h2 {
            font-size: modular-scale(1);
            font-weight: bold;
            text-align: left;
        }

    }

    .service-items {
        margin-top: 50px;

        ul {
            list-style: none;
        }

        ul li {
            float: left;
            width: 50%;
            padding: 2px;
        }

        ul li span {
            font-size: modular-scale(-1);
            margin-top: 4px;
            padding: 4px 6px;
            text-align: center;
            color: #fff;
            background-color: $kika-orange;
        }

    }

    a {
        color: $kika-green;
    }

    img {
        position: absolute;
        top: -10px;
        height: 50px;
    }

}

/* About The Agency */
.about-the-agency {
    color: #fff;
    background-color: lighten($kika-grey-1, 3%);
    background-image: url(../images/home-page/about-the-agency/about-the-agency-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .header-bottom-border {
        background-color: #fff;
    }

}

/* Our Global Offices */
.our-global-offices {
    height: 100vh;
    background-color: lighten($kika-grey-1, 3%);
}

/* Latest News */
.latest-news {
    background-color: #fff;

    .news-thumb {
        width: 100%;
        height: 300px;
        background-color: $kika-grey-1;
    }

    .news h2 {
        font-size: modular-scale(2);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
    }

    a {
        font-weight: bold;
        color: $kika-green;
    }

}

/* Like What You See */
.like-what-you-see {
    color: #fff !important;
    background-color: $kika-orange;

    h2 {
        font-family: 'Droid Serif' !important;
        font-style: italic;
    }

    h3 {
        font-family: 'DroidSans' !important;
        font-style: normal !important;
        padding-top: 0 !important;
    }

    .header-bottom-border {
        background-color: #fff;
    }

}

/*=====  End of Home Page  ======*/

/*==============================
=            Agency            =
==============================*/

/* Agency */
.agency {
    .agency-content {
        margin-bottom: 50px;

        h2 {
            font-size: modular-scale(0);
            font-weight: bold;
            text-align: left;
        }

        p {
            font-size: modular-scale(-1);
        }

    }

}

/* Our Team */
.our-team {
    .team-box {
        height: 300px;
        outline: 1px solid darken($kika-grey-1, 5%);
        background-color: $kika-grey-1;
    }

}

/* Our Advantage */
.our-advantage {
    background-color: $kika-green;
}

/* Agency Office */
.agency-office {
    width: 100%;
    height: 100vh;
    background-color: $kika-grey-1;
    background-image: url(../images/agency-page/agency-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Our Culture */
.our-culture {
    background-color: #fff;
}

/* Traits (Our Advantage, Our Culture) Layout */
.our-advantage, .our-culture {
    .trait {
        margin-top: 50px;
    }

    .trait-content {
        margin-left: 60px;

        h2 {
            font-size: modular-scale(1);
            font-weight: bold;
            text-align: left;
        }

    }

    a {
        color: $kika-green;
    }

    img {
        position: absolute;
        top: -10px;
        height: 50px;
        // outline: 1px dashed red;
    }

}

/*=====  End of Agency  ======*/

/*===============================
=            Connect            =
===============================*/

.connect {
    .connect-header {
        font-size: modular-scale(1);
        text-align: left;
    }

    p {
        font-size: modular-scale(-1) !important;
        margin-top: 20px;
    }

    p.connect-info {
        padding: 0 0 15px 0;
        border-bottom: 1px solid darken($kika-grey-1, 10%);
    }

    a {
        color: $kika-green;
    }

}

/*=====  End of Connect  ======*/

/*=================================
=            Portfolio            =
=================================*/

.portfolio {
    .project-logo {
        height: 80px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .project-image {
        width: 100%;
        margin-bottom: 30px;
        object-fit: cover;
        // background-color: #000;
    }

}

.more-work {
    h2 {
        // margin-bottom: 30px;
    }

    .work-thumbnail {
        height: 175px;
        background-color: $kika-grey-1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*=====  End of Portfolio  ======*/

/*=========================================
=            Universal Classes            =
=========================================*/

.page-section {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        font-size: modular-scale(4);
        text-align: center;
    }

    h3 {
        font-family: 'Droid Serif';
        font-size: modular-scale(1);
        font-style: italic;
        line-height: modular-scale(1);
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    h3 a {
        color: $kika-green;
    }

}

.header-bottom-border {
    width: 80px;
    height: 5px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: $kika-black;
}

/* Buttons */
.kika-button-white {
    font-size: modular-scale(1);
    width: 250px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
}

.kika-footer-button {
    font-size: modular-scale(-2);
    display: inline-block;
    padding: 6px 8px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: $kika-grey-2;

    &:hover {
        background-color: $kika-green;
    }

}

.section-divider {
    border-top: 1px solid $kika-grey-1;
}

/* Font Colors */
.font-color-green {
    color: $kika-green;
}

.font-color-white {
    color: #fff;
}

/* Background Colors */
.bg-color-white {
    background-color: #fff !important;
}

.bg-color-grey {
    background-color: $kika-grey-1;
}

.bg-color-lgrey {
    background-color: lighten($kika-grey-1, 3%);
}

.bg-color-green {
    background-color: $kika-green;
}

/* Quick Margins */
.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

/* Quick Paddings */
.pt-30 {
    padding-top: 30px !important;
}

.hidden {
    display: none !important;
}

/*=====  End of Universal Classes  ======*/