@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i');

@font-face {
  font-family: 'DroidSans';
  src: url('droidsans.eot');
  src: url('droidsans.eot?#iefix') format('embedded-opentype'),
       url('droidsans.woff') format('woff'),
       url('droidsans.ttf') format('truetype'),
       url('droidsans.svg#droidsans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINBold';
  src: url('din-bold-webfont.eot');
  src: url('din-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('din-bold-webfont.woff') format('woff'),
       url('din-bold-webfont.ttf') format('truetype'),
       url('din-bold-webfont.svg#DINBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINLightRegular';
  src: url('din-light-webfont.eot');
  src: url('din-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('din-light-webfont.woff') format('woff'),
       url('din-light-webfont.ttf') format('truetype'),
       url('din-light-webfont.svg#DINLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINMedium';
  src: url('din-medium-webfont.eot');
  src: url('din-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('din-medium-webfont.woff') format('woff'),
       url('din-medium-webfont.ttf') format('truetype'),
       url('din-medium-webfont.svg#DINMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINProMedium';
  src: url('dinpro-medium.eot');
  src: url('dinpro-medium.eot?#iefix') format('embedded-opentype'),
       url('dinpro-medium.woff') format('woff'),
       url('dinpro-medium.ttf') format('truetype'),
       url('dinpro-medium.svg#DINMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINRegular';
  src: url('din-regular-webfont.eot');
  src: url('din-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('din-regular-webfont.woff') format('woff'),
       url('din-regular-webfont.ttf') format('truetype'),
       url('din-regular-webfont.svg#DINRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PulsarJs';
  src: url('pulsarjs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINLight';
  src: url('dinpro-light.eot');
  src: url('dinpro-light.eot?#iefix') format('eot'), 
      url('dinpro-light.woff') format('woff'), 
      url('dinpro-light.ttf') format('truetype'), 
      url('dinpro-light.svg#DinLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINCondensedMedium';
  src: url('dincond-medium.eot');
  src: url('dincond-medium.eot?#iefix') format('embedded-opentype'),
       url('dincond-medium.woff2') format('woff2'),
       url('dincond-medium.woff') format('woff'),
       url('dincond-medium.ttf') format('truetype'),
       url('dincond-medium.svg#dincond-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}